/* start variables */

:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --gray-color: #888;
}

/* end variables */
/* start main rules */

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.page {
  min-height: 100vh;
  background-color: #f1f5f9;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}

.toggle-checkbox {
  display: none;
}

.toggle-switch {
  width: 78px;
  height: 32px;
  border-radius: 16px;
  background-color: #ccc;
  position: relative;
  transition: 0.3s ease-out;
  cursor: pointer;
}

.toggle-switch::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f00d";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 4px;
  bottom: 4px;
  transition: 0.3s;
  color: #ccc;
}

.toggle-checkbox:checked + .toggle-switch {
  background-color: var(--blue-color);
}

.toggle-checkbox:checked + .toggle-switch::before {
  content: "\f00c";
  color: var(--blue-color);
  left: 50px;
}

/* end main rules */
/* start sidebar */

.sidebar {
  width: 250px;
  box-shadow: 0 0 10px #ddd;
}

.sidebar > h3 {
  margin-bottom: 50px;
}

.sidebar > h3 span {
  color: var(--blue-color);
  font-size: 17px;
}

@media (min-width: 768px) {
  .sidebar > h3::before {
    content: "";
    background-color: black;
    width: 60px;
    height: 2px;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
  }

  .sidebar > h3::after {
    content: "";
    background-color: black;
    width: 12px;
    height: 12px;
    border: 4px solid white;
    border-radius: 50%;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}

.sidebar .links li a {
  margin-bottom: 5px;
  transition: 0.3s;
}

.sidebar .links li a.active,
.sidebar .links li a:hover {
  background-color: #f6f6f6;
  color: var(--blue-color);
}

.sidebar .links li a span {
  margin-left: 10px;
}

@media (max-width: 767px) {
  .sidebar {
    width: 58px;
    padding: 10px;
  }

  .sidebar > h3 {
    margin-bottom: 15px;
    font-size: 13px;
  }

  .sidebar .links li a span {
    display: none;
  }

  .sidebar > h3 span {
    display: none;
  }
}

/* end sidebar */

/* start content */

.search input {
  border: 1px solid #ccc;
  padding-left: 30px;
  width: 160px;
  transition: width 0.3s;
  color: black;
}

.search input:focus {
  width: 200px;
}

.search input:focus::placeholder {
  opacity: 0;
}

.search::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f002";
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: var(--gray-color);
}

.icons .notifications::before {
  content: "";
  background-color: var(--red-color);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -5px;
}

.icons img {
  width: 32px;
  height: 32px;
  margin-left: 10px;
}

.content {
  overflow: hidden;
}

.content > h1 {
  margin: 20px 20px 40px;
}
.content h1::before,
.content h1::after {
  content: "";
  height: 3px;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.content h1::before {
  width: 120px;
  background-color: white;
}

.content h1::after {
  width: 40px;
  background-color: black;
}

.wrapper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin: 0 20px 20px;
}

@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: minmax(200px, 1fr);
    margin: 0 10px;
  }
}

/* end content */
/* start wedgies */

.welcome {
  overflow: hidden;
}

.welcome .intro img {
  width: 200px;
  margin-bottom: -20px;
}

.welcome > .avatar {
  border: 4px solid white;
  border-radius: 50%;
  width: 62px;
  height: 62px;
  box-shadow: 0 0 5px #ddd;
  margin-left: 23px;
  margin-top: -32px;
}

.welcome .body {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.welcome .body > div {
  flex: 1;
}

.welcome .visit {
  margin: 0 15px 15px auto;
  transition: var(--blue-alt-color);
}

.welcome .visit:hover {
  background-color: var(--blue-alt-color);
}

@media (max-width: 767px) {
  .welcome > .avatar {
    margin-left: 0;
  }

  .welcome .body > div:not(:last-child) {
    margin-bottom: 20px;
  }
}

.quick-draft textarea {
  height: 180px;
  resize: none;
}

.quick-draft input[type="submit"] {
  margin-left: auto;
  cursor: pointer;
  transition: 0.3s;
}

.quick-draft input[type="submit"]:hover {
  background-color: var(--blue-alt-color);
}

.targets .target-row .icon {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.targets .target-row .icon.money,
.targets .target-row .icon.money ~ .details .progress-track {
  background-color: rgb(0 117 255 / 20%);
  color: var(--blue-color);
}

.targets .target-row .icon.projects,
.targets .target-row .icon.projects ~ .details .progress-track {
  background-color: rgb(245 147 11 / 20%);
  color: var(--orange-color);
}

.targets .target-row .icon.team,
.targets .target-row .icon.team ~ .details .progress-track {
  background-color: rgb(34 197 94 / 20%);
  color: var(--green-color);
}

.progress-track,
.progress {
  height: 4px;
}

.progress::before {
  content: attr(data);
  font-size: 13px;
  color: white;
  padding: 2px 5px;
  border-radius: 6px;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(50%, -15px);
}

.progress::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(50%, -7px);
  border: 4px solid;
}

.targets .target-row .icon.money ~ .details .progress::before {
  background-color: var(--blue-color);
}
.targets .target-row .icon.money ~ .details .progress::after {
  border-color: var(--blue-color) transparent transparent transparent;
}

.targets .target-row .icon.projects ~ .details .progress::before {
  background-color: var(--orange-color);
}
.targets .target-row .icon.projects ~ .details .progress::after {
  border-color: var(--orange-color) transparent transparent transparent;
}

.targets .target-row .icon.team ~ .details .progress::before {
  background-color: var(--green-color);
}
.targets .target-row .icon.team ~ .details .progress::after {
  border-color: var(--green-color) transparent transparent transparent;
}

.tickets .box {
  flex-basis: calc(50% - 10px);
  border: 1px solid #ccc;
}

@media (max-width: 767px) {
  .tickets .box {
    flex-basis: 100%;
  }
}

.latest-news .news-row:not(:last-of-type) {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.latest-news .news-row img {
  width: 100px;
  margin-right: 15px;
}

@media (max-width: 767px) {
  .latest-news .news-row img {
    margin: 0 0 5px;
  }

  .latest-news .news-row h3 {
    font-size: 16px;
  }

  .latest-news .news-row p {
    font-size: 14px;
  }

  .latest-news .news-row .time {
    margin: 10px auto;
    width: fit-content;
    font-size: 13px;
  }
}

.latest-tasks .task-row:not(:last-of-type) {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.latest-tasks .task-row i {
  padding-left: 15px;
}

.latest-tasks .task-row.done {
  opacity: 0.3;
}

.latest-tasks .task-row.done h3,
.latest-tasks .task-row.done p {
  text-decoration: line-through;
}

.latest-tasks .task-row .delete {
  cursor: pointer;
  transition: 0.3s;
}

.latest-tasks .task-row .delete:hover {
  color: var(--red-color);
}

.latest-upload ul li img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.latest-upload ul li:not(:last-of-type) {
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
}

.last-project ul::before {
  content: "";
  width: 2px;
  height: calc(100% - 20px);
  position: absolute;
  top: 10px;
  left: 11px;
  background-color: var(--blue-color);
}

.last-project li::before {
  content: "";
  width: 22px;
  height: 22px;
  background-color: white;
  border: 2px solid white;
  outline: 2px solid var(--blue-color);
  border-radius: 50%;
  display: block;
  margin-right: 10px;
}

.last-project .done::before {
  background-color: var(--blue-color);
}

.last-project .current::before {
  animation: change-color 1s infinite;
}

.last-project img {
  width: 160px;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.1;
}

@media (min-width: 768px) {
  .last-project ul li {
    padding: 10px 10px 10px 0;
  }
}

.reminders li div {
  border-left: 3px solid;
  margin-left: 10px;
}

.reminders li::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: block;
}

.reminders li.blue::before {
  background-color: var(--blue-color);
}
.reminders li.blue div {
  border-color: var(--blue-color);
}

.reminders li.green::before {
  background-color: var(--green-color);
}
.reminders li.green div {
  border-color: var(--green-color);
}

.reminders li.orange::before {
  background-color: var(--orange-color);
}
.reminders li.orange div {
  border-color: var(--orange-color);
}

.reminders li.red::before {
  background-color: var(--red-color);
}
.reminders li.red div {
  border-color: var(--red-color);
}

@media (max-width: 767px) {
  .reminders li span:first-of-type {
    font-size: 13px;
  }
}

.latest-post .user img {
  width: 48px;
  height: 48px;
  margin-right: 15px;
}

.latest-post p {
  font-weight: 600;
  line-height: 2;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.social-stats li a {
  color: white;
  font-weight: normal;
  cursor: pointer;
}

.social-stats li .icon {
  font-size: 2em;
  width: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.social-stats .icon:hover {
  transform: rotate(5deg);
}

@media (max-width: 767px) {
  .social-stats li div span {
    font-size: 13px;
  }
}

.social-stats li.twitter {
  background-color: #d2ecfc;
  color: #1da1f3;
}
.social-stats li.twitter .icon,
.social-stats li.twitter a {
  background-color: #1da1f2;
}

.social-stats li.facebook {
  background-color: #d1e4fc;
  color: #1da1f3;
}
.social-stats li.facebook .icon,
.social-stats li.facebook a {
  background-color: #1877f2;
}

.social-stats li.youtube {
  background-color: #ffcccc;
  color: var(--red-color);
}
.social-stats li.youtube .icon,
.social-stats li.youtube a {
  background-color: var(--red-color);
}

.social-stats li.linkedin {
  background-color: #cce4f0;
  color: #0077b5;
}
.social-stats li.linkedin .icon,
.social-stats li.linkedin a {
  background-color: #0077b5;
}

@media (max-width: 767px) {
  .projects-section {
    margin: 20px 10px;
  }
}

.projects-section .responsive-table {
  overflow-x: auto;
}

.projects-section table {
  min-width: 1000px;
  border-spacing: 0;
}

.projects-section table td {
  padding: 15px;
}

.projects-section table thead td {
  background-color: #eee;
  font-weight: bold;
}

.projects-section table tbody td {
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  font-weight: normal;
  font-size: 15px;
}

.projects-section table tbody td:last-of-type {
  border-right: 1px solid #eee;
}

.projects-section table tbody td img {
  border-radius: 50%;
  border: 2px solid white;
  width: 32px;
  height: 32px;
}

.projects-section table tbody td img:not(:first-of-type) {
  margin-left: -20px;
}

.projects-section table tbody td a.pending {
  background-color: var(--orange-color);
}

.projects-section table tbody td a.in-progress {
  background-color: var(--blue-color);
}

.projects-section table tbody td a.complated {
  background-color: var(--green-color);
}

.projects-section table tbody td a.rejected {
  background-color: var(--red-color);
}

/* end wedgies */

/* start settings */

.settings-page {
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

@media (max-width: 767px) {
  .settings-page {
    padding-bottom: 20px;
    grid-template-columns: minmax(100px, 1fr);
    margin: 0 10px;
    gap: 10px;
  }
}

.settings-page .site-control .close-message {
  height: 150px;
  resize: none;
  border: 1px #ccc solid;
}

.settings-page .general-info form div {
  gap: 10px;
}

.settings-page .general-info form input {
  border: 1px #ccc solid;
}

.settings-page .general-info form input[type="email"] {
  background-color: #f0f4f8;
  color: #858585;
}

.settings-page .security-info > div:not(:last-of-type) {
  border-bottom: 1px #eee solid;
  padding-bottom: 30px;
  margin-bottom: 15px;
}

.settings-page .social-info > div {
  border: 1px solid #ddd;
  background-color: #f6f6f6;
  flex-direction: row-reverse;
}

.settings-page .social-info > div i {
  transition: 0.3s;
  font-size: 17px;
  flex-basis: 40px;
  text-align: center;
}

.settings-page .social-info > div input {
  border: none;
  border-left: 1px solid #ddd;
  background-color: transparent;
  padding: 12px 10px;
}

.settings-page .social-info > div input:focus + i {
  color: black;
}

.settings-page .widgets > div label {
  padding-left: 30px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.settings-page .widgets > div label::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 4px;
  border: 2px solid var(--gray-color);
  left: 0;
}

.settings-page .widgets > div label::after {
  position: absolute;
  left: 2px;
  width: 14px;
  height: 14px;
  background-color: var(--blue-color);
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f00c";
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 11px;
  transform: scale(0) rotate(360deg);
  transition: 0.2s;
}

.settings-page .widgets > div input:checked + label::before,
.settings-page .widgets > div label:hover::before {
  border-color: var(--blue-color);
}

.settings-page .widgets > div input:checked + label::after {
  transform: scale(1);
}

.settings-page .widgets > div input,
.settings-page .backup > div input {
  display: none;
}

.settings-page .backup .time label {
  padding-left: 30px;
  position: relative;
  cursor: pointer;
}

.settings-page .backup .time label::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid var(--gray-color);
  left: 0;
}

.settings-page .backup > .time label::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 12px;
  height: 12px;
  background-color: var(--blue-color);
  transform: scale(0);
  transition: 0.2s;
  border-radius: 50%;
  transition: 0.2s;
}

.settings-page .backup > .time input:checked + label::after {
  transform: scale(1);
}

.settings-page .backup > .time input:checked + label::before {
  border-color: var(--blue-color);
}

.settings-page .backup .plan {
  border-top: 1px solid #eee;
  padding: 20px 0;
}

@media (max-width: 767px) {
  .settings-page .backup .plan {
    flex-wrap: wrap;
  }
}

.settings-page .backup .plan > label {
  border: 2px solid #eee;
  cursor: pointer;
  flex-basis: 100%;
}

.settings-page .backup .plan input:checked + label {
  border-color: var(--blue-color);
  color: var(--blue-color);
}

/* end settings */

/* start profile */

.profile-page {
  grid-template-columns: repeat(3, 1fr);
}

.profile-page .overview {
  grid-column: span 3;
  align-items: center;
}

.profile-page .overview .avatar {
  flex-basis: 300px;
  padding: 20px;
  gap: 15px;
  border-right: 1px solid #eee;
}

.profile-page .overview .avatar img {
  width: 120px;
  height: 120px;
}

.profile-page .overview .avatar .level {
  background-color: #eee;
  height: 6px;
  width: 70%;
  border-radius: 25px;
  position: relative;
}

.profile-page .overview .avatar .level::before {
  content: "";
  width: 60%;
  height: inherit;
  border-radius: inherit;
  background-color: var(--blue-color);
  position: absolute;
  left: 0;
  bottom: 0;
}

.profile-page .overview .avatar .stars i {
  color: var(--orange-color);
}

.profile-page .overview .avatar .stars i:not(:last-child) {
  margin-right: 4px;
}

.profile-page .overview .info > div {
  transition: 0.3s;
  padding: 20px;
}

.profile-page .overview .info > div:hover {
  background-color: #f9f9f9;
}

.profile-page .overview .info > div:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.profile-page .overview .info > div > div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px
}

.profile-page .overview .info .toggle-switch {
  height: 20px;
  width: 72px;
}

.profile-page .overview .info .toggle-switch::before {
  height: 12px;
  width: 12px;
  font-size: 8px;
}

.profile-page
  .overview
  .info
  .toggle-checkbox:checked
  + .toggle-switch::before {
  left: 56px;
}

@media (max-width: 767px) {
  .profile-page .overview {
    flex-wrap: wrap;
    justify-content: center;
  }

  .profile-page .overview .avatar {
    border: none;
  }

  .profile-page .overview .info > div {
    text-align: center;
  }

  .profile-page .overview .info > div > div {
    margin-top: 20px;
  }

  .profile-page .overview .info > div label {
    display: flex;
    justify-content: center;
  }
}

.profile-page .activities {
  grid-column: span 2;
}

/* end profile */

/* start animations */

@keyframes change-color {
  50% {
    background-color: var(--blue-color);
  }

  100% {
    background-color: white;
  }
}

/* end animations */
